@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Arvo", serif;
}

header {
    padding: 0;
    margin: 0;
    background-color: #e2a3c7bb;
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

header div h1 {
    margin: 1em 1em;
    text-align: center;
}

header div h4 {
    text-align: center;
    margin: 1em 1em;
}

.container {
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle {
    color: #686d65;
    font-family: "Caveat", cursive;
    font-size: 30pt;
    margin: 10px 0px;
}

/* Estilos del formulario */
form,
.section-inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

label, .label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.labelSpan {
    font-weight: 700;
}

.labelSpanMessage{
    text-align: right;
    padding-right: 10px;
    font-size: 10pt;
}

.labelInput {
    width: 400px;
    background-color: #A8DCD9;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

.labelInput:hover {
    background-color: #6bc2bd;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #9cc4cb;
}

.labelInput:focus {
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #9cc4cb;
}

/* Estilos de select */
select {
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 12pt;
    cursor: pointer;
    background-color: #A8DCD9;
}

textarea {
    border-radius: 10px;
    background-color: #A8DCD9;
    min-height: 50px;
    padding: 10px 10px;
    font-size: 12pt;
}

/* Estilos de botón */

.divButton {
    display: flex;
    justify-content: center;
    padding: 20px 0px 50px 0px;
}

.buttonAdd{
    background-color: #e2a3c7bb;
    border-color: #829491;
    border-radius: 10px;
    padding: 5px;
    border-color: #829491;
    cursor: pointer;
}

.submit-btn {
    justify-self: center;
    background-color: #E2A3C7;
    width: 300px;
    font-size: 18pt;
    text-align: center;
    padding: 15px;
    border-color: #829491;
    border-radius: 10px;
    cursor: pointer;
}
.back-btn {
    justify-self: center;
    background-color: #6bc2bd;
    width: 300px;
    font-size: 18pt;
    text-align: center;
    padding: 15px;
    border-color: #829491;
    border-radius: 10px;
    cursor: pointer;
}
.submit-btn:hover, .buttonAdd:hover {
    opacity: 0.75;
}

/* Mensajes de span */

.successSpanMessage{
    text-align: right;
    padding-right: 10px;
    font-size: 10pt;
    font-weight: bolder;
    color: green;

}

.errorSpanMessage{
    text-align: right;
    padding-right: 10px;
    font-size: 10pt;
    color: #b84822;
}